.upload-file-main__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-file-main__container {
  max-width: 80%;
  width: 500px;
  height: 250px;
  border: 1px solid var(--primary-heading) ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;

}
.upload-btn {
  display: none;
}

.file-label {
  cursor: pointer;
  padding: 5px;
  text-align: center;
}
p {
  color: var(--primary-text);
}